@model ParkWeb_11.Models.NationalPark

@{
    ViewData["Title"] = "Upsert";
    var title = Model.Id != 0 ? "Edit NationalPark" : "New NationalPark";
    var SaveUpdate = Model.Id != 0 ? "Update" : "Save";
}

<form method="post" enctype="multipart/form-data">
    @if (Model.Id != 0)
    {
        <input type="hidden" asp-for="@Model.Id" />
    }
<div class="row border">
    <div class="col-10 border-bottom p-3 m-3">
        <h2 class="text-primary">@title</h2>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-8">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Name"></label>
            </div>
            <div class="col-8">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="State"></label>
            </div>
            <div class="col-8">
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Picture"></label>
            </div>
            <div class="col-8">
                <input type="file" name="files" id="projectImage" multiple asp-for="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Established"></label>
            </div>
            @{
                var dateEst = "";
                if (Model.Id != 0)
                {
                    dateEst = Model.Established.ToShortDateString();
                }
            }
            <div class="col-8">
                <input type="text" value="@dateEst" id="datepickers" asp-for="Established" class="form-control" />
                <span asp-validation-for="Established" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 offset-4">
                <button type="submit" class="btn btn-success form-control">@SaveUpdate</button>
            </div>
            <div class="col-4">
                <a asp-action="Index" class="btn btn-info form-control">Back To List</a>
            </div>
        </div>

    </div>
    <div class="col-4">
        @if (Model.Picture != null)
        {
            var base64 = Convert.ToBase64String(Model.Picture);
            var imgSrc = string.Format("data:image/jpg;base64,{0}", base64);
            <img src="@imgSrc" width="100%" />
        }
        else
        {
            <p class="text-danger">No Image Found</p>

        }

    </div>

</div>
</form>
@section scripts
{
<partial name="_ValidationScriptsPartial" />
<script >
    $(function () {
        $('#datepickers').datepicker({
            changeMonth: true,
            changeYear: true
        });
    })
</script>
}